<h3>Navbar</h3>


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudMainContent>
        <MudAppBar>
            MY Mud App Bar
        </MudAppBar>
    </MudMainContent>
</MudLayout>

@code {

}
